#square {
    border: solid 2px #e1e5e8;
    height: 45px;
    width: 45px;
}

.occupied {
    background-color: tomato;
}

.attacked {
    background-image: url(./images/boom.jpg);
    background-size: cover;
}

.missed {
    font-size: 30px;
    text-align: center;
    color: white;
    background-color: #258bf093;
}

.empty:hover {
    box-shadow: 0.3em 0.2em 0.2em #002855;
    transform: scale(1.1) translateX(-0.15em) translateY(-0.25em);
    background-color: #f59127df;
}

@media(max-width: 600px) {
    #square {
        border: solid 1px #e1e5e8;
        height: 30px;
        width: 30px;
    }

    .missed {
        font-size: 0.8em;
        text-align: center;
        color: white;
        background-color: #258bf093;
    }
    
}