@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.App {
  text-align: center;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.5em;
  color: white;
}

body {
  /* margin: 0;
  padding: 0;
  height:100vh; */
  /* background: hsla(221, 59%, 75%, 1); */
  /* background-color: #104289c8; */
  background: hsla(215, 45%, 41%, 1);
  background: radial-gradient(circle, hsla(215, 45%, 41%, 0.6) 0%, hsla(215, 87%, 26%, 0.7) 100%);
  background: -moz-radial-gradient(circle, hsla(215, 45%, 41%, 0.6) 0%, hsla(215, 87%, 26%, 0.7) 100%);
  background: -webkit-radial-gradient(circle, hsla(215, 45%, 41%, 0.6) 0%, hsla(215, 87%, 26%, 0.7) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#396198", endColorstr="#093A7E", GradientType=1);
}

.particle {
  position: fixed;
  top: 0;
  z-index: -1;
}