@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

.drageFunction {
    font-family: 'Secular One', sans-serif;
}

.putShipTitle {
    margin-top: 10px;
    margin-bottom: 0;    
    color: #033566;
}

#putShipBoard {
    display: flex;
    justify-content: space-between;
    max-width: 60%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

#ships {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

#normalBoard {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.normal-ai {
    text-align: center;
    color: white;
}

.human {
    text-align: center;
    color: white;
}

.dragFunButton {
    padding: 10px 20px;
    letter-spacing: normal;
    font-size: 0.7em;
    margin: 20px;
    background-color: rgba(236, 188, 91, 0.838);
}

.disabledButton {
    cursor: auto;
    background-color: rgba(177, 174, 174, 0.865);
    box-shadow: none;
}


.disabledButton:hover {
    box-shadow: none;
    text-decoration: none;
    transform: none;
}

.hasWin {
    font-size: 80px;
    margin-top: 15%;
    color: aliceblue;
}

@media(max-width: 600px) {
    h2 {
        font-size: 0.8em;
    }
    .putShipTitle {
        font-size: 0.7em;
        max-width: 60%;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }

    .dragFunButton {
        padding: 5px 10px;
        letter-spacing: 0.1em;
        font-size: 0.5em;
        margin: 10px 2px 20px 2px;
    }

    #putShipBoard {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #ships {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 30px;
        gap: 5px;
    }

    #normalBoard {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
    

    #changeDirTip, #submitTip {
        font-size: 0.3em;
        width: 60%;
        padding: 0;
    }

    .hasWin {
        font-size: 30px;
        margin-top: 15%;
    }
  }